@font-face {
    font-family: inter-light;
    src: url(../fonts/inter/Inter-Light.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: inter-regular;
    src: url(../fonts/inter/Inter-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: inter-medium;
    src: url(../fonts/inter/Inter-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: inter-semibold;
    src: url(../fonts/inter/Inter-SemiBold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: inter-bold;
    src: url(../fonts/inter/Inter-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}