body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #3f4e65;
  font-size: 14px;
}

.up-nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(63, 78, 101, 0.2);
}

.leftside-nav {
  display: flex;
  line-height: 2px;
}

.loc-nav {
  display: flex;
  margin-right: 42px;
}

.loc-nav img {
  max-width: 20px;
  margin-right: 18px;
  margin-bottom: 10px;
}

.mail-nav {
  display: flex;
}

.mail-nav img {
  max-width: 20px;
  margin-right: 18px;
  margin-bottom: 10px;
}

.leftside-nav h6 {
  font-size: 14px;
}

.leftside-nav p {
  font-size: 12px;
  font-weight: 300;
}

.rightside-nav a:not(:last-child) {
  margin-right: 40px;
}

.bottom-nav-row-mobile {
  display: none !important;
}

.menu {
  display: none;
}

.catalog {
  min-width: 192px;
  height: 60px;
  background-color: #ffc85e;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 80px;
  margin-left: 38px;
}

.catalog img {
  margin-left: 12px;
}

.catalog a {
  color: #fff;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.nav-search {
  min-width: 260px;
  height: 60px;
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
  border-radius: 40px;
  background-color: #ededed;
  font-size: 14px;
  color: #5c6370;
  padding: 20px;
}

.search-logo {
  position: absolute;
  background-color: #ffc85e;
  padding: 12px;
  border-radius: 50%;
  right: 10px;
  cursor: pointer;
}

.operator {
  margin-left: 35px;
}

.operator-text {
  line-height: 5px;
}

.operator h6 {
  font-size: 14px;
  font-weight: 600;
}

.operator p {
  color: #3f4e65;
  font-weight: 300;
  font-size: 12px;
}

.operator a {
  font-weight: 400;
  font-size: 10px;
  color: #3f4e65;
  text-decoration: underline;
}

.operator-photo img {
  border-radius: 50%;
}

.price-list {
  min-width: 192px;
  height: 60px;
  background-color: #ffc85e;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 80px;
  margin-left: 35px;
  cursor: pointer;
}

.basket {
  margin-left: 45px;
  cursor: pointer;
}

.basket-text {
  margin-left: 14px;
}

.basket-text p {
  font-size: 12px;
  line-height: 5px;
}

.basket-text p:last-child {
  font-size: 14px;
  font-weight: 600;
}

.intro-section {
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 555px;
}

.intro-section h1,h2{
  color: #fff;
}

.intro-info{
  margin-top: 50px;
  margin-left: 200px;
}

.intro-info h1{
  font-size: 55px;
}

.intro-info h2{
  font-size: 30px;
}

.intro-info>.catalog{
  width: 250px;
  height: 75px;
  letter-spacing: 4px;
  margin-top: 40px;
  margin-left: -5px;
  margin-bottom: 70px;
}

.best-choice{
  color: #fff;
  padding: 15px;
}

.best-choice p{
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 5px;
}

#stock{
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 50px;
}

.orange{
  color: #ffc85e;
}

.product{
  width: 330px;
  min-height: 500px;
  padding: 15px;
}

.product-img{
  margin-left: 110px;
    margin-top: 20px;
}

.popular{
  position: absolute;
  display: inline-block;
  font-size: 15px;
  padding: 5px 15px;
  background-color: rgba(31, 216, 93, 1);
  border-radius: 5px;
  color: #fff;
}

.product-icon{
  opacity: 0.5;
  margin-bottom: 10px;
}

.product-icon span{
  margin-left: 7px;
}

.product-name{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 18px;
}

.product-info{
  line-height: 30px;
  margin-bottom: 25px;
}

.bold{
  font-weight: 800;
}

.first-text{
  color: rgba(63, 78, 101, 1);
  font-size: 14px;
  font-weight: 300;
}

.second-text{
  font-size: 14px;
  font-weight: 500;
}

.price{
  font-size: 18px;
  font-weight: 800;
}

.basket-orange{
  padding: 15px 28px;
  background-color: #ffc85e;
  border-radius: 50px;
  color: #fff;
  margin-left: 35px;
}

.basket-orange img{
  margin-bottom: 7px;
}






@media only screen and (max-width: 576px) {
  .up-nav-row,
  .catalog,
  .search,
  .operator,
  .operator-photo,
  .operator-text,
  .price-list,
  .basket-text {
    display: none !important;
  }

  .menu {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 75px;
    width: 32px;
    display: block;
  }

  .sultan-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
  }

  .basket-logo {
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
  }

  .bottom-nav-row-mobile {
    display: flex !important;
    justify-content: space-around;
    border-top: 1px solid rgba(63, 78, 101, 0.2);
  }
}
